<div>
    <h2 class="mb-5 mt-5">Cadastro de Produtos</h2>
    <table class="table table-bordered table-striped">
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>descricao/th>
            <th>preco</th>
            <th>validade</th>
        </tr>
        { % for produto in produtos % }
        <tr>
            <th>{{produto.id_produto}}</th>
            <th>{{produto.nome}}</th>
            <th>{{produto.descricao}}</th>
            <th>{{produto.preco}}</th>
            <th>{{produto.validade}}</th>          
        </tr>
        { % endfor % }
    </table>

</div>